<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grow More</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

   {{>navbar}}


<body> 
    <div  class="replyimg">
    <img src="images/confirm.svg" alt="" width="400px" height="auto"> 
    </div>
       <h1 class="reply">Thanks for contacting us we will contact you as soon as possible</h1>
   <body>
   </body>