  <div class="container-fluid mt-5 about-style" id="aboutid">
        
          <div class="row">

            <div class="col-md-10 col-12 mx-auto">
              <h1 class="text-center main-heading">About Us</h1>
              <p class="text-center sub-heading">grow your business with harhad mehta</p>
                <div class="row">
                   <div class="col-md-6 col-12 hero-text">
                      <figure>
                        <img src="images/about.svg" alt="herosection_image" width="95%" height="auto">
                      </figure>
                  </div>
                 

                  {{!-- right side --}}
                  <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE THE PROFESSIONAL DEVELOPERS😎</h1>
                    <p>Welcome To <span class="bold-style">Kwiqsoft🙌</span>,Your Number One Source For All Things.</p>
                    <button class="btn-style btn-primary">Read more</button>
                  </div>
                </div>
            </div>
          </div>
      </div>