<div class="container-fluid mt-5 about-style" id="serviceid">

    <div class="row">

        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">grow your business with harhad mehta</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                              <img src="https://img.icons8.com/cute-clipart/64/000000/chrome.png"/>
                            </div>
                            <h4>Web</h4>
                            <p>We develop dynamic websites</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                           <img src="https://img.icons8.com/cute-clipart/50/000000/gear.png" alt=""/>
                            </div>
                            <h4>Settings</h4>
                            <p>Configure your web app</p>
                        </div>
                    </div>
                </div><div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                               <img src="https://img.icons8.com/cute-clipart/64/000000/authentication-message.png"/>
                            </div>
                            <h4>Mobile</h4>
                            <p>We develop android & iOS apps</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                              <img src="https://img.icons8.com/cute-clipart/64/000000/web.png"/>
                            </div>
                            <h4>Digital</h4>
                            <p>Digital marketing SEO & SMO</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                             <img src="https://img.icons8.com/cute-clipart/64/000000/idea.png"/>
                            </div>
                            <h4>idea's</h4>
                            <p>Grow your business with new ideas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                               <img src="https://img.icons8.com/cute-clipart/64/000000/reminders.png"/>
                            </div>
                            <h4>Quality</h4>
                            <p>We provide good quality products</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>